body {
  background-color: #EBECF7;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

#root {
  background-color: #EBECF7;
  min-height: 100vh;
}